doctype html
html
	head
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='public/style.css')
		link(rel="stylesheet" href="public/grotesque.css")
		title Ooops! Not found!
	body
	.container-fluid
		#logo
		h3#mes Oh, snap! Unfortunatelly this page is not found!
		button.btn.btn-success.btn-xs(type='button' onclick='document.location="/"'  style="display:block; margin: 0 auto") Return home page