link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' href='/public/edit.css')
link(rel="stylesheet" href="public/grotesque.css")
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/public/js/editions.js')
script(src='/bower_components/Chart.js/Chart.js')
