doctype html
html
	head
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet' href='public/style.css')
	body
	.container-fluid
		button.btn.btn-success.btn-xs#sign(type='button' onclick='document.location = "register"') Sign up for free
		#logo
		.col-md-2.col-md-offset-5
			form(method='POST' action='/')
				if error
					.alert.alert-danger.err(align='center')=error
				input.form-control(placeholder='Login' name='login' type='text')
				input.form-control(placeholder='Password' name='password' type='password')
				input.btn.btn-default.btn-xs.col-lg-5.col-md-offset-3(value='Sign In' name='submit' type='submit')