#topbar
	#logo
		a.logo(href="/home")
			img(src='public/img/logo1.jpg' width='70' height='70')
		#slogan Collibri cloud <br> User settings
	.field
		span.glyphicon.glyphicon-log-out(aria-hidden="true")
		a(href="/logout") Log out
	.field 
		span.glyphicon.glyphicon-stats(aria-hidden="true")
		a(href="/statistics") Account statistics
	.field 
		span.glyphicon.glyphicon-cog(aria-hidden="true")
		a(href="/private") Private settings
	.field 
		span.glyphicon.glyphicon-search(aria-hidden="true")
		a(href="/search") Search for friends
	.field
		span.glyphicon.glyphicon-user(aria-hidden="true")
		a(href="/edit") User prifile settings